.nav {
    height: 70px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.photos {
    width: 395.91px;
    height: 232px;
    margin-top: 26px;
}

.content {
    padding: 32px 36px;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    width: 350px;
    height: 40px;
    color: #000000;
}

.text {
    width: 320px;
    height: 56px;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}

.card-continer {
    margin-left: 30px;
    font-size: 14px;
}

.card-info {
    display: flex;
}

.card--star {
    height: 18px;
}

.cards {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card--tag {
    height: 30px;
    width: 80px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    background-color: #FFFFFF;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 5px;
}